# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Don't need to include these files in asset library or .zip downloads.
/demo/preview     export-ignore
/demo/preview/**  export-ignore
icon.png          export-ignore
icon.png.import   export-ignore
